.navbar {
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
	/* background-image: linear-gradient(#c5f6fa, #e3fafc); */
	font-size: 1.25rem;
	font-weight: 500;
	position: relative;
}

.section-components {
	cursor: pointer;
	color: #000;
}

.section-components[open] {
	cursor: pointer;
}

.section-components[open] ul {
	position: absolute;
	list-style: none;
	background-color: rgba(152, 152, 152, 0.3);
	border-radius: 0.5rem;
}

.section-components[open] li {
	padding: 0.5rem;
}

.link {
	text-decoration: none;
	color: #333;
}
